body{font-size:12px;background:#000000;line-height:180%;padding:0;margin:0;min-width:400px;}
#main{display:block;width:100%;float:left;}
#main .span12{width:100%;margin:0;padding:0;}
h2{font-size:16px;padding-bottom:4px;border-bottom:1px dotted #858585;margin-bottom:8px;text-align:left;}
h2 span.toggle{color:#646464;margin-left:5px;}
#container{display:block;width:100%;max-width:1280px;min-width:400px;margin:0 auto;border:1px solid #292929;background:#f9f9f9;}
#head{display:block;width:100%;height:50px;background:#292929;}
#head .title{padding-top:12px;padding-left:10px;font-size:12px;color:#ffffff;text-shadow:0 0 1px #000;display:block;font-weight:bold;line-height:100%;}
#head .version{padding-left:10px;color:#77af0f;text-shadow:0 0 1px #000;display:block;line-height:100%;}
#head .right{display:block;float:right;text-align:right;color:#77af0f;margin-top:16px;overflow:hidden;margin-right:10px;}
.content{padding:10px;margin-top:10px;}
.content .fluid{display:block;float:left;width:48%;margin-right:2%;margin-bottom:12px;min-width:340px;}
.content .fluid .hideElm{display:none;}
.content .nofluid{width:100%;clear:both;}
.content .center{text-align:center;}
.content .fieldname{color:#575757;display:inline-block;height:20px;width:120px;text-align:left;font-weight:bold;}
.content .fieldvalue{color:#454545;display:inline-block;height:20px;}
.but{font-size:11px;position:relative;padding:8px 20px;width:80px;}
.but i{position:relative;left:-2px;top:0;}
.mfooter{display:block;width:100%;height:40px;background:#292929;margin-top:10px;color:#C4C4C4;text-align:center;padding-top:8px;}
@media only screenand (max-width:715px){.content .fluid{margin-left:0;width:100%;}
.content .fluid .fieldname{padding-left:5px;}
}
@media only screenand (max-width:1280px){#container{border:0;}
}
@media only screenand (min-width:768px)and (max-width:1281px){.content .fluid{width:48%;}
}
